bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.idea/.idea.UniversityGameProject/.idea/vcs.xml
/.idea/.idea.UniversityGameProject/.idea/indexLayout.xml
/.idea/.idea.UniversityGameProject/.idea/encodings.xml
/.idea/.idea.UniversityGameProject/.idea/.gitignore
.vs/